In [1]:
#pip install sqlalchemy

In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [3]:
aisles_df = pd.read_csv("data/aisles.csv")
departments_df = pd.read_csv("data/departments.csv")
order_products_df = pd.read_csv("data/order_products__prior.csv")
products_df = pd.read_csv("data/products.csv")
order_df = pd.read_csv("data/orders.csv")

In [4]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [5]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [6]:
order_products_df

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [7]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [8]:
order_df

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [9]:
#Creating connection
try:
    connection = psycopg2.connect(dbname="Ecommerce_analysis",user='postgres',password='root',port='5432')
except:
    print("connection_failed")

In [10]:
#Creating curser to execute query on sql engine

curser = connection.cursor()

In [11]:
#SQLalchemy is used to load the data into database in bulk, we can also load data using looping

engine = create_engine('postgresql+psycopg2://postgres:root@localhost/Ecommerce_analysis')

In [12]:
curser.execute("""
CREATE TABLE IF NOT EXISTS aisles (
        aisle_id INTEGER PRIMARY KEY,
        aisle VARCHAR
    )
""")

In [13]:
curser.execute("""
CREATE TABLE IF NOT EXISTS departments (
        department_id INTEGER PRIMARY KEY,
        department VARCHAR
    )
""")

In [14]:
curser.execute("""
CREATE TABLE IF NOT EXISTS products (
        product_id INTEGER PRIMARY KEY,
        product_name VARCHAR,
        aisle_id INTEGER,
        department_id INTEGER,
        FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
        FOREIGN KEY (department_id) REFERENCES departments (department_id)
    )
""")

In [15]:
curser.execute("""
CREATE TABLE IF NOT EXISTS orders (
        order_id INTEGER PRIMARY KEY,
        user_id INTEGER,
        order_number INTEGER,
        order_dow INTEGER,
        order_hour_of_day INTEGER,
        days_since_prior_order INTEGER
    )
    """)

In [16]:
curser.execute("""
CREATE TABLE IF NOT EXISTS order_products (
        order_id INTEGER,
        product_id INTEGER,
        add_to_cart_order INTEGER,
        reordered INTEGER,
        PRIMARY KEY (order_id, product_id),
        FOREIGN KEY (order_id) REFERENCES orders (order_id),
        FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
""")

In [17]:
#Commiting the tables to postgre
connection.commit()

In [18]:
#Dropping coloumn which is not necessary for analysis

order_df.drop('eval_set',inplace = True, axis=1)

In [19]:
aisles_df.to_sql('aisles', con=engine, if_exists= 'append',index= False)

134

In [20]:
departments_df.to_sql('departments', con=engine, if_exists= 'append',index= False)

21

In [21]:
products_df.to_sql('products', con=engine, if_exists= 'append',index= False)

688

In [22]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

83

In [23]:
order_products_df.to_sql('order_products', con=engine, if_exists= 'append',index= False)

489